PORT=10000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your@gmail.com
SMTP_PASS=your app password
MAIL_FROM="MeoMeoFindMovie <your@gmail.com>"
ALLOWED_ORIGIN=*
OTP_SECRET=your_random_long_secret_key
TMDB_API_KEY=your_tmdb_api_key
